{% load static %}

<html>

<head>
<title> Login!</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css\loginstyle.css' %}" rel="stylesheet">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body background="https://www.xmple.com/wallpaper/linear-green-gradient-white-1920x1080-c2-f5fffa-20b2aa-a-270-f-14.svg">


    <div class="container">
		<div class="row" align="center">
			<img src="https://pluspng.com/img-png/amazon-logo-vector-png-amazon-logo-vector-512.png" alt="amazon logo" style="width:120px;height:100px;">
	        <strong> <h7 style="color:black;">Pick-up Point Services</h7> </strong>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					{% if value %}
	  			  		<p></p>
	  			  	{% else %}
						<center><p style="color:#FF0000";>Incorrect credentials! Try again..</p></center>
	  			  	{% endif %}
					<form method="POST" action="login/" role="form">
						{% csrf_token %}
						<div class="form-group">
							<h2>Login</h2>
						</div>
						<div class="form-group">
							<!-- <strong>Email or mobile phone number</strong>
							<input id="signinEmail" name="signinEmail" type="email" maxlength="50" class="form-control"> -->
							<strong>Username</strong>
							<input id="username" name="username" type="text" maxlength="50" class="form-control">
						</div>
						<div class="form-group">
							<strong>Password</strong>
							<span class="right"><a href="#">Forgot your password?</a></span>
							<input id="signinPassword" name="signinPassword" type="password" maxlength="25" class="form-control">
						</div>
						<div class="form-group" style="padding-top: 12px;">
							<button id="signinSubmit" type="submit" class="btn btn-success btn-block">Log In</button>
						</div>
						<div class="form-group divider">
							<hr class="left"><small>New to site?</small><hr class="right">
						</div>
						<p class="form-group"><a href="#" class="btn btn-info btn-block">Create an account</a></p>
						<p class="form-group">By signing in you are agreeing to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

	</html>
